<!DOCTYPE html>
<html lang="en" ng-app='chat'>
<head>
	<meta charset="UTF-8">
	<title>chat</title>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
	<script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
	<script src='/app/angularfire.min.js'></script>
    <script src='/app/app.js'></script>
    <style>
    	*{
    		color: #999;
    	}
		span{
			color: #444;
		}
    </style>
</head>
<body>
	<div ng-controller="chatController as chat">
		<form ng-submit="chat.addMessage()">
			<input ng-model='chat.nick' placeholder='nickname'>
			<input ng-model='chat.text' placeholder='Your message'>
			<button>Add Message</button>			
		</form>

		<div ng-repeat='message in chat.messages'>
			<span>{{message.nick}}:</span>{{message.message}}
		</div>

	</div>
</body>
</html>